<mat-form-field class="demo-chip-list">
	<mat-chip-list #chipList>
		<mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
			{{fruit.name}}
			<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
		</mat-chip>

		<div>
			<span fxLayout="row" fxLayoutAlign="start center" class="matinput-userinput">
        <!-- -->
          <input
      placeholder="New fruit..."
      #fruitInput
      [formControl]="fruitCtrl"
      class="input-default"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
       [(ngModel)]="model" />
          </span> 
          <span fxLayout="row" fxLayoutAlign="start center" *ngIf="queryStringParts.length > 0" class="matinput-suggestion" [ngClass]="{'matinput-suggestion-overide': fruits.length > 0}">
            <span>{{ queryStringParts[0] }}</span>
            <span>{{ queryStringParts[1] }}</span>
          </span> 
        </div>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{ fruit }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
